<mat-tab-group>
  <mat-tab label="Calculator">
    <div class="calc-container">
      <div class="display">
        <div class="display-inner">
          {{ (displayText.length>displaySize) ? '..'+(displayText | slice:displayText.length-displaySize:displayText.length) : displayText }}
        </div>
      </div>

      <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile *ngFor="let button of buttons">
          <button *ngIf="button" mat-button (click)="onButtonPress(button)">{{button}}</button>
          <div *ngIf="button == null"></div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>

  <mat-tab label="History">
    <mat-list>
      <mat-list-item *ngFor="let calc of history; last as last">
        <h1 mat-line>{{calc.result}}</h1>
        <p mat-line>{{calc.expression}}</p>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>


